<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Domino's Pizza</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body style="margin: 0px 0px 0px 0px;" th:attr="data-user-authenticated=${#authentication} ? 'true' : 'false'">
<div class="menu">
    <div class="container_menu">
        <div class="container_menu_left">
            <ul>
                <a th:href="@{/}"><li><img th:src="@{/image/domino_logo.png}" width="65" height="65" alt="Domino's Logo"></li></a>
                <a th:href="@{/}"><li>Home</li></a>
                <a th:href="@{/menu}"><li>Menu</li></a>
                <a th:href="@{/cart}"><li>Order</li></a>
                <a th:href="@{/contacts}"><li>Contact</li></a>
            </ul>
        </div>
        <div class="container_menu_right">
            <ul>
                <li><p id="numberItemInCart">0</p></li>
                <li><a th:href="@{/cart}"><img th:src="@{/icon/cart.png}" width="25px" height="25px" alt="Cart"></a></li>
                <li><a id="accountLink" href="#"><img th:src="@{/icon/user.png}" width="23px" height="23px" alt="Account"></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- MAIN CONTENT AREA -->
<div class="body_container">
    <div class="cart_page_container" id="cartContent">
        <!-- Cart will be loaded here by JavaScript -->
        <div style="text-align: center; padding: 40px;">
            <p>Loading cart...</p>
        </div>
    </div>
</div>

<!-- FOOTER - SEPARATE from main content -->
<footer style="background-color: #0b648f; width: 100%; margin-top: 50px;">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px; vertical-align: top;">
                <div class="footer_left">
                    <p style="color: white; font-size: 16px; margin-bottom: 15px; font-weight: 600;">Our Social media:</p>
                    <ul style="list-style: none; padding: 0; margin: 0; display: flex; gap: 20px;">
                        <li>
                            <a href="https://www.facebook.com/DominosPizzaCambodia/" target="_blank">
                                <img src="/icon/facebook.png" alt="Facebook" style="width: 32px; height: 32px;">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dominos/?hl=en" target="_blank">
                                <img src="/icon/instagram.png" alt="Instagram" style="width: 32px; height: 32px;">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@dominos.pizza.cam?is_from_webapp=1&sender_device=pc" target="_blank">
                                <img src="/icon/tiktok.png" alt="TikTok" style="width: 32px; height: 32px;">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@dominos" target="_blank">
                                <img src="/icon/youtube.png" alt="YouTube" style="width: 32px; height: 32px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="padding: 20px; vertical-align: top;">
                <div class="footer_right">
                    <!-- Empty for now, can add content later -->
                </div>
            </td>
        </tr>
    </table>
    <div class="description" style="padding: 20px; padding-top: 0;">
        <p style="color: white; font-size: 14px; line-height: 1.6; margin: 0;">
            <br><br>Any Delivery Charge is not a tip paid to your driver. <br>Please reward your driver for awesomeness. Our drivers carry less than 10$. Minimum purchase required for delivery and for mode of payment is strictly Cash On Delivery. The 30-minute Delivery Commitment starts from the time of completion of call. <br><br>Our Operating hours: 10:00 AM - 10:00 PM and Delivery service start from 10:00 AM - 9:30 PM.
            <br><br> Domino's Pizza Cambodia reserves the right to modify or supplement this policy at any time. If a material change to the terms of this policy is made, Domino's will post a notice on its homepage and a link to the new policy.
            Our Guarantee: If you are not completely satisfied with your Domino's Pizza experience, we will make it right or refund your money.
        </p>
    </div>
</footer>

<script th:src="@{/js/auth.js}" defer></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>