<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Domino's Pizza</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <script th:src="@{/js/cart.js}" defer></script>
</head>
<body style="margin: 0px 0px 0px 0px;">
<div class="menu">
    <div class="container_menu">
        <div class="container_menu_left">
            <ul>
                <a th:href="@{/}"><li><img th:src="@{/image/domino_logo.png}" width="65" height="65"></li></a>
                <a th:href="@{/}"><li>Home</li></a>
                <a th:href="@{/menu}"><li>Menu</li></a>
                <a th:href="@{/cart}"><li>Order</li></a>
                <a th:href="@{/contacts}"><li>Contact</li></a>
            </ul>
        </div>
        <div class="container_menu_right">
            <ul>
                <li><p id="numberItemInCart">0</p></li>
                <li><a th:href="@{/cart}"><img th:src="@{/icon/cart.png}" width="25px" height="25px"></a></li>
                <li><a th:href="@{/login}"><img th:src="@{/icon/user.png}" width="23px" height="23px"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body_container">
    <img th:src="@{/image/phonenumber.png}">
    <div id="phoneNumber">
        <h1>Call us: </h1>
        <h1 id="Number">&nbsp;1800 9030</h1>
        <button id="copybutton" onclick="copyNumber(document.querySelector('#Number').innerText), copy()">
            <img th:src="@{/icon/copy.png}">
        </button>
        <p id="copied">Copied!</p>
    </div>
    <div class="location_container">
        <div class="location">
            <img th:src="@{/image/domino_logo.png}">
            <p>120D, Russian Federation Blvd corner 261 Sangkat Tek Laok I, Khan Toul Kok Phnom Penh, 12102</p>
            <a href="https://maps.app.goo.gl/p4fe9HZMcWqL2nQX9" target="_blank">
                <img class="map_pin" th:src="@{/icon/map pin png.png}">
            </a>
        </div>
        <div class="location">
            <img th:src="@{/image/domino_logo.png}">
            <p>Charles de Gaulle Blvd (217) Sangkat Vealvong, Penh 12253</p>
            <a href="https://maps.app.goo.gl/1cT21GASyjLSFV829" target="_blank">
                <img class="map_pin" th:src="@{/icon/map pin png.png}">
            </a>
        </div>
        <div class="location">
            <img th:src="@{/image/domino_logo.png}">
            <p>HW3G+MJR, Rue Pasteur No. 51, Phnom Penh</p>
            <a href="https://maps.app.goo.gl/5aaqQRbC6iV2ch5b8" target="_blank">
                <img class="map_pin" th:src="@{/icon/map pin png.png}">
            </a>
        </div>
        <div class="location">
            <img th:src="@{/image/domino_logo.png}">
            <p>Street 516 &, St 315, Phnom Penh</p>
            <a href="https://maps.app.goo.gl/qs5d8VM5Amg2Rr5V9" target="_blank">
                <img class="map_pin" th:src="@{/icon/map pin png.png}">
            </a>
        </div>
        <div class="location">
            <img th:src="@{/image/domino_logo.png}">
            <p>15C Street 1986, Phnom Penh</p>
            <a href="https://maps.app.goo.gl/wWqZVn95GdHkRhDu8" target="_blank">
                <img class="map_pin" th:src="@{/icon/map pin png.png}">
            </a>
        </div>
    </div>
</div>
<footer style="background-color: #0b648f; width: 100%;">
    <table>
        <td>
            <div class="footer_left">
                <p>Our Social media:</p>
                <ul>
                    <li><a href="https://www.facebook.com/DominosPizzaCambodia/" target="_blank"><img th:src="@{/icon/facebook.png}"></a></li>
                    <li><a href="https://www.instagram.com/dominos/?hl=en" target="_blank"><img th:src="@{/icon/instagram.png}"></a></li>
                    <li><a href="https://www.tiktok.com/@dominos.pizza.cam?is_from_webapp=1&sender_device=pc" target="_blank"><img th:src="@{/icon/tiktok.png}"></a></li>
                    <li><a href="https://www.youtube.com/@dominos" target="_blank"><img th:src="@{/icon/youtube.png}"></a></li>
                </ul>
            </div>
        </td>
        <td>
            <div class="footer_right">
                <p></p>
            </div>
        </td>
    </table>
    <div class="description">
        <p><br><br>Any Delivery Charge is not a tip paid to your driver. <br>Please reward your driver for awesomeness. Our drivers carry less than 10$. Minimum purchase required for delivery and for mode of payment is strictly Cash On Delivery. The 30-minute Delivery Commitment starts from the time of completion of call. <br><br>Our Operating hours: 10:00 AM - 10:00 PM and Delivery service start from 10:00 AM - 9:30 PM.
            <br><br> Domino's Pizza Cambodia reserves the right to modify or supplement this policy at any time. If a material change to the terms of this policy is made, Domino's will post a notice on its homepage and a link to the new policy.
            Our Guarantee: If you are not completely satisfied with your Domino's Pizza experience, we will make it right or refund your money.
        </p>
    </div>
</footer>
<script th:src="@{/js/contact.js}"></script>
</body>
</html>