<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script src="/js/menu.js" defer></script>
    <script src="/js/cart.js" defer></script>
</head>

<body style="margin:0">

<div class="menu">
    <div class="container_menu">
        <div class="container_menu_left">
            <ul>
                <li><img src="/image/domino_logo.png" width="65"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/cart">Order</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>

        <div class="container_menu_right">
            <ul>
                <li><p id="numberItemInCart">0</p></li>
                <li><a href="/cart"><img src="/icon/cart.png" width="25"></a></li>
                <li><a href="/login"><img src="/icon/user.png" width="23"></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- FETCH API TARGET -->
<div class="body_container">
    <div class="menu_container" id="menuContainer">
        <!-- menu.js renders here -->
    </div>
</div>

<footer style="background:#0b648f; margin-top:50px"></footer>

</body>
</html>
