<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/account.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/register}" method="post" id="registrationForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <img id="domino_logo" th:src="@{/image/domino_logo.png}" alt="Domino's Logo">
        <p>All user information will be collected by Domino's Pizza <br>All rights will be legally reserved</p>
        <hr>
        <h3><b>Registration</b></h3>
        <hr>

        <!-- Error/Success messages null-safe -->
        <div th:if="${message != null and #strings.length(message) > 0}">
            <div class="alert error" th:text="${error}"></div>
        </div>
        <div th:if="${error != null and #strings.length(error) > 0}">
            <div class="alert success" th:text="${success}"></div>
        </div>

        <br>

        <div class="row">
            <input type="email"
                   name="email"
                   id="txtEmail"
                   placeholder="Email *"
                   th:value="${email ?: ''}"
                   required>
        </div>

        <div class="row">
            <input type="text"
                   name="firstName"
                   id="txtName"
                   placeholder="Name *"
                   th:value="${firstName ?: ''}"
                   required>
        </div>

        <div class="row">
            <input type="tel"
                   name="phone"
                   id="txtPhoneNum"
                   placeholder="Phone Number *"
                   th:value="${phone ?: ''}"
                   required>
        </div>

        <div class="row" style="display: flex; gap: 20px;">
            <label>
                <input type="radio" name="gender" value="Male"
                       th:checked="${gender == 'Male'}"> Male
            </label>
            <label>
                <input type="radio" name="gender" value="Female"
                       th:checked="${gender == 'Female'}"> Female
            </label>
            <label>
                <input type="radio" name="gender" value="Other"
                       th:checked="${gender == 'Other'}"> Not given
            </label>
        </div>

        <div class="row">
            <input type="password"
                   name="password"
                   id="txtPassword"
                   placeholder="Password *"
                   required>
        </div>

        <div class="row">
            <input type="password"
                   name="confirmPassword"
                   id="txtConfirm"
                   placeholder="Confirm your password *"
                   required>
        </div>

        <br>
        <hr>
        <br>

        <input type="submit" value="SignUp" id="buttonSubmit" class="submit-btn">
    </form>
</div>
<script th:src="@{/js/account_validation.js}"></script>
</body>
</html>
