body{
    overflow-x: hidden;
}
.container_menu{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 100;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: white;
    translate: -50%;
    margin-left: 50%;
    box-shadow: 0px 15px 10px -15px #2c2c2c;

}
.container_menu_left{
    width: 50%;
}
.container_menu_right{
    width: 50%;
}
.container_menu_left ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;  
    align-items: center;
    width: 100px;
     
}
.container_menu_right ul{
    display: flex;
    flex-direction: row-reverse;
    width: 100px;
    margin-top: 40px;
    margin-left: 70%;
}
.container_menu_left ul a{ 

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-decoration: none !important; 
    color: black;
    transition: all ease-in-out 200ms;
}
.container_menu_left ul a:hover{
    scale: 1.2;    
}
.container_menu_right ul a img{
    transition: all ease-in-out 200ms;
}
.container_menu_right ul a img:hover{
    scale: 1.2;
}
.container_menu_right ul li {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 50px;
    position: relative; /* THIS IS CRUCIAL */
    align-items: center;
    justify-content: center;
}

/* Style for the cart item count badge */
#numberItemInCart {
    position: absolute;
    top: 5px; /* Adjust this value to move the badge up or down relative to the cart icon */
    right: -5px; /* Adjust this value to move the badge left or right relative to the cart icon */
    background-color: #e21737; /* Red background */
    color: white; /* White text */
    font-size: 12px;
    border-radius: 50%; /* Makes it circular */
    width: 20px; /* Width of the badge */
    height: 20px; /* Height of the badge, making it a perfect circle with width */
    display: flex; /* Use flexbox to center the number */
    align-items: center; /* Center the number vertically */
    justify-content: center; /* Center the number horizontally */
    transition: all 200ms ease-in-out;
    z-index: 101; /* Ensure it's above other elements if there's overlap */
    line-height: 1; /* Helps with vertical alignment of the single digit */
}

.body_container{
    display: relative;
    margin-top: 100px;
    /* display: flex; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    /* border: black solid 2px; */
    justify-content: center;
    min-height: 100vh; 
}
.cover{
    top: 0px;
    height: 600px;
    overflow: hidden;
    position: relative;
    /* border: solid black 2px; */
}
/* .cover video{ 
    width: 100%;
    align-items: center; 
} */
.cover img{
    position: absolute;
    /* pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    top: -100px;
    transition: all 500ms ease-in-out;
    filter: brightness(70%);
    margin-left: 50%;
    translate: -50%;
    animation: cover_image linear 700ms;
}
/* .cover img:hover{
    filter: brightness(60%);
} */
.cover h3{
    position: absolute;
    top: 30%; 
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 7px #3f3f3f;
    animation: cover_appear linear 500ms;
}
.cover h3:hover{
    /* pointer-events: none; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: default;
}
.cover button{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #e21737;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 7px 1px #3f3f3f;
    transition: all 300ms ease-in-out;
    animation: cover_appear linear 500ms;
    animation-delay: 100ms;
}
.cover a button:hover{  
    cursor: pointer;
    scale: 1.048;
}
.promotion{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 650px;
    translate: -50%;
    margin-left: 50%;
    width: 2049px;
    /* border: solid black 2px; */
    
}
.promotion h1{
    position: sticky;
    top: 100px;
    margin-top: 0;
    color: white;
    text-align: center;
    background-color: #0b648f;
    z-index: 1000;
    width: 100%;
    height: 70px;
    padding-top: 20px;

}
.promotion_container{
    display: flex;
    justify-content: space-around;
}
.promotion_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
}
.promotion_text h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    animation: promotion_text linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.image_container{
    display: flex;
    grid-template-columns: repeat(2);
    gap: 20px;
    /* margin-left: 70%;
    translate: -50%; */
    animation: promotion linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    /* border: solid black 2px; */
}
.image_container img{
    transition: all 200ms ease-in-out;
}
.image_container img:hover{
    scale: 1.1;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: column;
}
.left img{
    width: 300px;
}
.right{
    display: flex;
    flex-direction: column;
}
.text{
    position: relative;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    height: 300px;
    overflow: hidden;
    
}
.text video{
    position: absolute;
    margin-left: 50%;
    translate: -50%;
}
.text table{
    position: absolute;
    margin-left: 50%;
    translate: -50%;
    width: 1000px;
}
.text td{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: default;    
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 200px;
    
}

.footer{
    background-color: #0b648f; 
    width: 100%;
}
.footer_left{
    margin: 20px 200px 20px 200px;
}
.footer_table table{
    width: 100%;
}
.footer_left p{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: default;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20px;
    color: white;
}
.footer_left ul{
    display: flex;
    flex-direction: row;
    gap: 13px;
}
.footer_left ul li{
    justify-content: left;
    padding: 0px;
    text-emphasis: none;
    list-style-type: none;

} 
.footer_left ul li a img{
    width: 30px;
    height: 30px;
    transition: 200ms ease-in-out;
}
.footer_left img:hover{
    scale: 1.2;
}
.description{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: default;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: white;
    padding: 0px 70px 20px 70px;
}
@keyframes cover_appear {
    from{opacity: 0;transform: translateY(30%);}
    to{opacity: 1;transform: translateY(0%);}
}
@keyframes cover_image{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes promotion_text{
    from{opacity: 0; transform: translateY(-20%);}
    to{opacity: 1;transform: translateY(0%);}
}
@keyframes promotion {
    from{opacity: 0;transform: translateX(-80%);}
    to{opacity: 1;transform: translateX(0);}
}